/**
 * @package		ChurchAmp_Sermons
 * @version		5.0.0
 * @since			1.0.0
 * @author		Endeavr Media <support@endeavr.com>
 * @copyright		Coppyright (c) 2013, Jason Loftis (jLOFT / Endeavr / ChurchAmp)
 * @link			http://churchamp.com/plugins/sermons 
 * @license		http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

#icon-edit.icon32.icon32-posts-sermons:before { font-family:'ss-pika' !important; font-size:28px; content: '\1f3a4'; }
.icon16.icon-sermons:before,#adminmenu .menu-icon-sermons div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\1f3a4'; }
td.column-_endvr_sermon_audio { max-width:200px; }
td.column-_endvr_sermon_video { max-width:200px; }
td.column-_endvr_sermon_doc { max-width:200px; }
td.column-_endvr_sermon_ref { max-width:200px; }